<h1>Forgot your password</h1>

<%= form_with url: password_reset_path do |form| %>
  <div>
    <%= form.text_field :email %>
  </div>
  <br>
  <div>
    <%= form.submit "Send Password Reset link" %>
  </div>
<% end %>

