    <p>You just sign up in Sopping Zone website with <%= @user.email %>!</p>
    <p>
    Registration details<br>
    --------------------------
    </p>
      <p>Name: <%= @user.first_name %></p>
      <p>Phone: <%= @user.mobile %></p>
    <p>
    <p> Enjoy Shopping </p>
