

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<% if Current.user %>
  <p>logged in as <strong><%= Current.user.first_name %></strong></p>

<% else %>
  <div>
    New User?
    <%= link_to "Sign Up", sign_up_path %>
  </div>
  
  <div>
    Already have an accout
    <%= link_to "login", sign_in_path %>
  </div>  
<% end %>

