<h2> Your Orders </h2>
<% if @orders.count < 1 %>
  <h4 style="color:red;">No Orders Yet!</h4>
<% end %>


<% @orders.each do |order| %>
  <%= link_to order_path(order.id), class: "text-decoration-none" do %>
    <table class="table table-hover table-striped table-info border border-dark mb-4">
      <tr>
        <td>  Order Addresses </td>
        <td> <%= order.address %></td>
      </tr>
      <tr>
        <td>  Total Amount:</td>
        <td> <%= order.total_amount%></td>
      </tr>
      <tr>
        <td> On: </td>
        <td> <%=order.time_of_order %></td>
      </tr>
    </table>
  <% end %>
<% end %>

