    <p>You got a new order with order id <%= @order.id %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
      <p>Time of order: <%= @order.time_of_order %></p>  

      <p>Address: <%= @order.address %></p>
    </p>
